<!DOCTYPE html>
<html lang="en">
    <head>
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101233231-2"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-101233231-2');
            </script>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Tic Tac Toe Multiplayer</title>
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link rel="stylesheet" href="css/game.css">
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css'>
    </head>
    <body>
        <div id="app">

            <section>
                <div class="row">
                    <div class="col s12 center">
                        <h4 class="light">Tic Tac Toe Multiplayer</h4>
                    </div>
                    <div class="col s12 center">
                        <p>Yor are plaing as <b><span v-text="username" class="green-text"></span></b> against <b><span v-text="opponent" class="red-text"></span></b></p>
                    </div>
                </div>
            </section>

            <section id="board">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <table>
                                <tr>
                                    <td :class="c[0]" @click="move(0)"></td>
                                    <td :class="c[1]" @click="move(1)"></td>
                                    <td :class="c[2]" @click="move(2)"></td>
                                </tr>
                                <tr>
                                    <td :class="c[3]" @click="move(3)"></td>
                                    <td :class="c[4]" @click="move(4)"></td>
                                    <td :class="c[5]" @click="move(5)"></td>
                                </tr>
                                <tr>
                                    <td :class="c[6]" @click="move(6)"></td>
                                    <td :class="c[7]" @click="move(7)"></td>
                                    <td :class="c[8]" @click="move(8)"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col s12 center" v-if="gameStatus != ''">
                            <h5 v-if="gameStatus == 'draw'" class="red-text">Draw</h5>
                            <h5 v-else><span v-text="gameStatus" class="green-text"></span> Wins!</h5>
                            <button class="btn waves-effect waves-light" @click="playAgain">Play Again</button>
                        </div>
                        <div class="col s12 center" v-if="gameStatus == ''">
                            <h5 v-if="username==turn">Your turn</h5>
                            <h5 v-else><span v-text="opponent"></span>'s turn</h5>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="js/axios.min.js"></script>
        <script src="js/vue.js"></script>
        <script>
            new Vue({

                el: '#app',
                data: {

                    c:[
                        '',
                        '',
                        '',
                        '',
                        '',
                        '',
                        '',
                        '',
                        ''
                    ],

                    username: '',
                    opponent: '',

                    sid: '',
                    myType: '',

                    state: '',
                    turn:'',

                    gameStatus:''


                },

                methods: {

                    playAgain: function(){
                        window.location = 'http://localhost/game.html';
                        // window.location = 'https://parthshah.xyz/tic-tac-toe/game.html';
                    },

                    decideWinner: function(){

                        if(
                            (this.c[0] != 'c' && this.c[0] != '') &&
                            (this.c[1] != 'c' && this.c[1] != '') &&
                            (this.c[2] != 'c' && this.c[2] != '') &&
                            (this.c[3] != 'c' && this.c[3] != '') &&
                            (this.c[4] != 'c' && this.c[4] != '') &&
                            (this.c[5] != 'c' && this.c[5] != '') &&
                            (this.c[6] != 'c' && this.c[6] != '') &&
                            (this.c[7] != 'c' && this.c[7] != '') &&
                            (this.c[8] != 'c' && this.c[8] != '')
                        ){
                            this.gameStatus = 'draw';
                        }

                        if(
                            (this.c[0] == 'x' && this.c[1] == 'x' && this.c[2] == 'x') ||
                            (this.c[3] == 'x' && this.c[4] == 'x' && this.c[5] == 'x') ||
                            (this.c[6] == 'x' && this.c[7] == 'x' && this.c[8] == 'x') ||
                            (this.c[0] == 'x' && this.c[3] == 'x' && this.c[6] == 'x') ||
                            (this.c[1] == 'x' && this.c[4] == 'x' && this.c[7] == 'x') ||
                            (this.c[2] == 'x' && this.c[5] == 'x' && this.c[8] == 'x') ||
                            (this.c[0] == 'x' && this.c[4] == 'x' && this.c[8] == 'x') ||
                            (this.c[2] == 'x' && this.c[4] == 'x' && this.c[6] == 'x')
                        ){
                            
                            if(this.myType == 'x'){
                                this.gameStatus = this.username;
                            }else{
                                this.gameStatus = this.opponent;
                            }
                        }

                        if(
                            (this.c[0] == 'o' && this.c[1] == 'o' && this.c[2] == 'o') ||
                            (this.c[3] == 'o' && this.c[4] == 'o' && this.c[5] == 'o') ||
                            (this.c[6] == 'o' && this.c[7] == 'o' && this.c[8] == 'o') ||
                            (this.c[0] == 'o' && this.c[3] == 'o' && this.c[6] == 'o') ||
                            (this.c[1] == 'o' && this.c[4] == 'o' && this.c[7] == 'o') ||
                            (this.c[2] == 'o' && this.c[5] == 'o' && this.c[8] == 'o') ||
                            (this.c[0] == 'o' && this.c[4] == 'o' && this.c[8] == 'o') ||
                            (this.c[2] == 'o' && this.c[4] == 'o' && this.c[6] == 'o')
                        ){
                            
                            if(this.myType == 'o'){
                                this.gameStatus = this.username;
                            }else{
                                this.gameStatus = this.opponent;
                            }
                        }

                    },

                    move: function(n){

                        if(this.c[n] != '' || this.turn != this.username){
                            return;
                        }else{

                            if(this.myType == 'x'){

                                Vue.set(this.c, n, 'x');
                                this.turn = '';                                

                            }else{
                                Vue.set(this.c, n, 'o');
                                this.turn = '';
                            }

                            axios.get('./api/game.php?action=move&move='+n+'&type='+this.myType)
                        }
                        
                    },

                    updateBoard: function(){

                        for(var i=0; i<9; i++){

                            if(this.state[i] == 'x'){
                                this.c[i] = 'x';
                            }else if(this.state[i] == 'o'){
                                this.c[i] = 'o';
                            }else{
                                continue;
                            }

                        }
                    },

                    gameLoop: function(){

                        var self = this;
                        var game;

                        axios.get('./api/game.php?action=gameUpdates')
                            .then(function(response){

                                game = response.data;
                                self.turn = game.turn;
                                self.state = game.state;     
                                self.updateBoard();
                                self.decideWinner();
                            })
                    }
                },

                created: function(){

                    var self = this;
                    var game;

                    axios.get('./api/game.php?action=gameInfo')
                        .then(function(response){

                            game = response.data;

                            self.username = game.username;
                            self.sid = game.id;
                            self.turn = game.turn;

                            if(game.username == game.creator){
                                self.opponent = game.joiner;
                                self.myType = 'x';
                            }else{
                                self.opponent = game.creator;
                                self.myType = 'o';
                            }

                            self.state = game.state;

                            self.updateBoard();

                            setInterval(function(){ self.gameLoop() }, 2000);
                        })
                }  

            });
        </script>
    </body>
</html>