html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
table{
    border-collapse: separate;
    border-spacing: 10px;
    margin: auto;
}
td{
    background-color: #78bec5;
    height: 130px;
    width: 130px;
    border-radius: 14px;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    text-shadow: 3px 3px 1px #555;
    cursor: pointer;
    font-size: 4em;
    font-family: 'FontAwesome';
    box-shadow: 1px 1px 5px #555;
}
td.hx:hover,td.ho:hover{
    background-color: #3d4250;
    color: #8b8e96;
    text-shadow: 0 0 0;
    transition: background-color 0.1s;
    -webkit-transition: background-color 0.1s;
}
.hx:hover:after, .x:after{
    content: '\f00d';
}
.ho:hover:after, .o:after{
    content: '\f1db';
}
.x{
    background-color: #dc685a;
    cursor: default;
    box-shadow: 0 0;
}
.o{
    background-color: #ecaf4f;
    cursor: default;
    box-shadow: 0 0;
}
.overlay{
    opacity: 0.5;
}

@media (max-width: 480px) {
    td{
        height: 100px;
        width: 100px;
        font-size: 3em;
    }
}
#final{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#again{
    background-color: #68aeb5;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}
#again:hover{
    cursor: pointer;
    background-color: #78bec5;
}
#win{
    color: blueviolet;
}
#lose{
    color: red;
}
#draw{
    color: green;
}
.hide{
    display: none;
}
#opp{
    margin-top: 30px;
    text-align: center;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
    font-size: 1em;
}