/*          Table            */

table{
    width: auto;
    border-collapse: separate;
    border-spacing: 10px;
    margin: auto;
}
td{
    background-color: #78bec5;
    height: 130px;
    width: 130px;
    border-radius: 14px;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    text-shadow: 3px 3px 1px #555;
    cursor: pointer;
    font-size: 4em;
    font-family: 'FontAwesome';
    box-shadow: 1px 1px 5px #555;
}


/*          Open Cells          */
.x{
    background-color: #dc685a;
    cursor: default;
    box-shadow: 0 0;
}
.o{
    background-color: #ecaf4f;
    cursor: default;
    box-shadow: 0 0;
}
.x::after{
    content: '\f00d';
}
.o::after{
    content: '\f1db';
}


/*          Closed Cells         */

.cell.hiddenX:hover, .cell.hiddenO:hover{
    background-color: #3d4250;
    color: #8b8e96;
    text-shadow: 0 0 0;
    transition: background-color 0.1s;
    -webkit-transition: background-color 0.1s;
}
.hiddenX:hover::after{
    content: '\f00d';
}
.hiddenO:hover::after{
    content: '\f1db';
}